.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__usar-name
        masa
      .side-bar__header__box__menu
        %li.side-bar__header__box__menu__btn
          = link_to '#' do
            = icon('fas','edit')
        %li.side-bar__header__box__menu__btn2
          = link_to'#' do
            = icon('fas','cog')
  .side-bar__groups
    .side-bar__groups__group
      %p.side-bar__groups__group__group-name
        techcamp
      %p.side-bar__groups__group__message
        まだメッセージがありません
    .side-bar__groups__group
      %p.side-bar__groups__group__group-name
        techcamp
      %p.side-bar__groups__group__message
        まだメッセージがありません